.grid-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
    padding: 128px 160px;
}

.blue.background {
    background: blue;
}

.peach-background {
   background: var(--color-neutral)
}

.white-background {
    background: white;
}

.orange-background {
    background: #FF7D29;
}